<div class="col-md-12">
  <br/><br/><br/><br/>
  <h1>Welcome to Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div><br/>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label> <span class="glyphicon glyphicon-user"></span> USERNAME</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group"><br/>
      <label> <span class="glyphicon glyphicon-pencil"></span> PASSWORD</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
  <br/><br/>
  <a href="#/register"><span class="glyphicon glyphicon-wrench"></span> Signup</a>
</div>
